:root {
    --cor-principal: #102f15;
    --cor-secundaria: #ccdfc2;
    --cor-branco: #fffdf5;
}

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: relative; 
    background-color: var(--cor-principal); 
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho {
    display: flex;
    align-items: center;
}

.cabecalho h1 {
    color: var(--cor-branco);
    margin: 0;
}

.icons {
    display: flex;
    position: absolute;
    align-items: center;
    right: 170px;
}
.icons img {
    height: 24px;
    margin: 5px;
}

.cabecalho a {
    position: absolute;
    right: 22px;
}

.cabecalho button {
    padding: 10px 20px;
    background-color: var(--cor-branco);
    color: var(--cor-principal);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: var(--cor-secundaria);
}

.titulo {
    position: relative;
}

.capa {
    position: relative;
}

.capa img {
    width: 100%; 
    height: 400px; 
    display: block; 
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(57, 224, 57, 0.26); 
    mix-blend-mode: overlay; 
    pointer-events: none;}

.texto {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: var(--cor-principal);
    text-align: center; 
    padding: 10px; 
    border-radius: 8px; 
}

.texto h1 {
    font-size: 100px; 
    margin: 0; 
}

.texto h5 {
    font-size: 18px; 
    margin: 10px 0 0; 
}

.historia {
    background-color: var(--cor-branco);
    color: var(--cor-principal);
    display: flex;
    z-index: 1;  
    padding: 45px;
}

.historia img{
    width: 600px;

}

.descricaoHistoria {
    text-align: justify;
    margin-right: 80px;
    font-size: 22px;
    line-height: 140%;

}

.descricaoHistoria h1 {
    margin-bottom: 30px;
}

.ondinha {
    position: relative;
    left: 0;
    right: 0;
    z-index: -1;
    top: -50px;
}

.ondinha img {
    position: absolute;
    width: 100%;
}

.objetivo {
    display: flex;
    position: relative;
    background-color: var(--cor-principal);
    z-index: -2;
    
    
}

.objetivo img {
    width: 40vw;
}

.descricaoObjetivo {
    margin-top: 90px;
    align-items: center;
    font-size: 22px;
    line-height: 140%;
    text-align: justify;
    padding: 90px;
    color: var(--cor-branco);

}

.descricaoObjetivo h1 {
    margin-bottom: 30px;
}



.comentario {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--cor-branco);
    color: var(--cor-principal);
}

.nomeeData {
    position: absolute;
    text-align: center;
    font-size: 14px;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


#foto {
    position: absolute;
    width: 120px;
    border: 2px solid var(--cor-principal);
    border-radius: 50%;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.caixaDeTexto {
    position: relative;
    
}

.caixaDeTexto p {
    position: absolute;
    width: 550px;
    left: 50%;
    top: 48%;
    font-size: 16px;
    text-align: center;
    z-index: 1;
    transform: translate(-50%, -50%);
    line-height: 140%;

}

.caixaDeTexto img {
    position: relative;
    width: 650px;
    left: 50%;
    top: 180px;
    transform: translate(-50%, -50%);
}

.parceria {
    position: relative;
    background-color: var(--cor-secundaria);
    display: flex;
    padding: 45px;
    align-items: center;
    padding-bottom: 15%;
    z-index: -1;

}

.descricaoParceria {
    text-align: justify;
    margin-right: 180px;
    font-size: 22px;
    line-height: 140%;
    color: var(--cor-principal);
    width: 50%;
    
}

.descricaoParceria h1 {
    margin-bottom: 30px;
}

.descricaoParceria img {
    height: 600px;
    
}

.ondinha02 {
    position: relative;
    z-index: 1;
}

.ondinha02 img {
    position: absolute;
    width: 100%;
    bottom: 0px;
}


.conheca_mais {
    text-align: center;
    padding: 30px;
    padding-bottom: 70px;
    background-color: var(--cor-branco);
    

}
.conheca_mais h1 {
    margin: 0 0 20px 0;
    font-size: 24px;
    bottom: 50px;
}
           
.conheca_mais h5 {
   margin: 0 0 20px 0;
   font-size: 16px;
}

.conheca_mais button {
   background-color: var(--cor-principal);
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   color: var(--cor-branco);
   font-size: 16px;
   cursor: pointer;

   
}

.conheca_mais button:hover {
   background-color: var(--cor-secundaria);
   color: var(--cor-principal)
}

/*footer*/

footer {
    background-color: var(--cor-principal); 
    color: var(--cor-branco); 
    padding: 20px; 
}
.footer-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    max-width: 1200px; 
    margin:  auto; }

.footer-esquerda{
    margin: 0 0 10px 0;
}

.footer-direita {
 margin: 0 0 10px 0; 
}

.footer-esquerda h3{
    font-size: 25px;
    padding-bottom: 10px;
 }

.footer-direita h3 {
    margin: 0 0 10px 0; 
    font-size: 25px;
}
.footer-esquerda p{
    margin: 0 0 10px 0;
}

.footer-direita p {
    margin: 0 0 10px 0; 
}
.footer-icon {
    margin-top: 10px; 
}
.footer-icon img {
    height: 24px; 
    margin-right: 10px; 
}


@media screen and (max-width: 932px){
    
    .historia {
        display: block;
        
    }

    .historia img {
        width: 80vw;
        padding-top: 30px;
    }

    .parceria{
        display: block;
        text-align: center;

    }

    .parceria img {
        width: 50vw;
        padding: 30px;

    }

    .descricaoParceria {
        margin-right: 0px;
        width: 100%;
    }

    .descricaoParceria h1 {
        font-size: 34px;
    }

    .objetivo {
        display: block;

    }

    .objetivo img {
        width: 100%;
    }

    .caixaDeTexto p {
        width: 80vw;
        top: 11vh;
        font-size: 12px;
        
    
    }

    .caixaDeTexto img {
        width: 90vw;
        height: 25vh;
        top: 12vh;
 
    }
    
    #foto {
        width: 8vh;
        top: 10vh;
    }

    .comentario {
        padding-bottom: 50px;
    }

    .caixaDeTexto p {
        top: 37%
    }

    .nomeeData {
        font-size: 11px;
        top: 65%;
    }

    .descricaoHistoria {
        margin-right: 0px;
    }

    .descricaoObjetivo {
        padding: 45px;
        margin-top: 0px;
    }

    .footer-esquerda{
        margin-right: 30px;
    }
    
    

}

